<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-item>
      <ion-label>{{ getCurrentUser()?.email  }}</ion-label>
      <ion-button (click)="logout()">Desconnectar</ion-button>
    </ion-item>
    <ion-item>
      <ion-toggle (ionChange)="togglePushNotifications()" [enableOnOffLabels]="true" [checked]="isPushNotificationsAllowed">Permetre notificacions push</ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>
