@media only screen and (min-width: 768px) {
    ion-avatar {
        --border-radius: 4px;
        height: fit-content;
        width: fit-content;
        min-height: 20%;
        min-width: 20%;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
  
ion-avatar {
    --border-radius: 4px;
    height: fit-content;
    width: fit-content;
    min-height: 20%;
    min-width: 20%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}



ion-title.title-small {
    font-size: 15px;
    opacity: 0.5;
}

ion-text {
    margin-left: 8px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
}