
  <ion-header>
    <ion-toolbar>
      <!-- <ion-buttons slot="start">
        <ion-button>Cancel</ion-button>
      </ion-buttons> -->
      <ion-title>{{marker.title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="close" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item class="image-container">
      <ion-avatar class="image">
        <ion-img src="https://s2.ppllstatics.com/elcomercio/www/multimedia/202301/21/media/cortadas/80120341--1248x968.jpg" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      aaaaaaaaaa
    </ion-item>
  </ion-content>