  .buttons {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .form {
    margin-top: 200px;
  }

  .password {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .email {
    margin-top: 15px;
  }